<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB08U5v0HzVXjxZA6C3loZ339gIavi1kSk</string>
	<key>GCM_SENDER_ID</key>
	<string>906103670460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiBuddy</string>
	<key>PROJECT_ID</key>
	<string>ai-buddy-dev-ayush</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-buddy-dev-ayush.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906103670460:ios:8c1783db172913bf00f2b9</string>
</dict>
</plist>